<skin xmlns="http://weblookandfeel.com/XmlSkin">

    <!-- com.alee.laf.menu.WebMenu -->

    <!-- Menu -->
    <style type="menu">
        <component>
            <opaque>false</opaque>
        </component>
        <painter>
            <decorations>
                <decoration states="menubar">
                    <WebShape round="0" />
                    <MenuItemLayout padding="4,4,4,6" iconTextGap="6" textArrowGap="10">
                        <ButtonIcon constraints="icon" />
                        <ButtonText constraints="text" color="black" />
                    </MenuItemLayout>
                </decoration>
                <decoration states="menubar,hover">
                    <GradientBackground>
                        <color>208,208,198,96</color>
                        <color>196,196,186,96</color>
                    </GradientBackground>
                </decoration>
                <decoration states="popupmenu">
                    <WebShape round="0" />
                    <MenuItemLayout padding="5,10,5,6" iconTextGap="6" textArrowGap="10">
                        <ButtonIcon constraints="icon" />
                        <ButtonText constraints="text" color="black" />
                        <SetIcon id="arrow" constraints="arrow" icon="right" />
                    </MenuItemLayout>
                </decoration>
                <decoration states="popupmenu,rtl">
                    <MenuItemLayout>
                        <SetIcon id="arrow" icon="left" />
                    </MenuItemLayout>
                </decoration>
                <decoration states="selected">
                    <GradientBackground>
                        <color>208,208,198</color>
                        <color>196,196,186</color>
                    </GradientBackground>
                </decoration>
                <decoration states="disabled">
                    <MenuItemLayout>
                        <ButtonText color="120,120,120" />
                    </MenuItemLayout>
                </decoration>
            </decorations>
        </painter>
    </style>

</skin>